/<template>
    <div class="loginContainer">
      <div class="loginLeft">
        <img src="" />
      </div>
      <a-form class="loginRight" :model="formState" name="basic" :label-col="{ span: 8 }" :wrapper-col="{ span: 16 }" autocomplete="off"
        @finish="onFinish" @finishFailed="onFinishFailed">
        <a-form-item label="用户名" name="name"
          :rules="[{ required: true, message: '请输入用户名' }]">
          <a-input v-model:value="formState.name" />
        </a-form-item>
        <a-form-item label="密码" name="password"
          :rules="[{ required: true, message: '请输入密码' }]">
          <a-input-password v-model:value="formState.password" />
        </a-form-item>
        <a-form-item :wrapper-col="{ offset: 8, span: 16 }">
          <a-button type="primary" html-type="submit" :loading="loginLoading">登录</a-button>
        </a-form-item>
      </a-form>
    </div>
  </template>
  
  <script lang="ts" setup>
  import { reactive,ref } from 'vue';
  import {login} from '@/services/user'
  import { useStorage } from '@vueuse/core'
  import { useRouter } from 'vue-router';
  
  const loginLoading = ref(false)
  const $router = useRouter()
   const formState = reactive({
        name: '',
        password: '',
      });
      const onFinish = async(values: any) => {
        try{
          loginLoading.value = true
          const data = await login(values)
          useStorage('userInfo', data)
          $router.push('/')
          console.log(data);
        }catch(error){
          console.log(error);
        }finally{
          loginLoading.value = false
        }
      };
  
      const onFinishFailed = (errorInfo: any) => {
        console.log('Failed:', errorInfo);
      };
  </script>
  
  <style lang='less'>
  .loginContainer{
    width: calc(100vw - 300px);
    height: calc(100vh - 100px);
    margin:50px auto;
    display: flex;
    background: #fff;
    .loginLeft,.loginRight{
      flex: 1;
      overflow: hidden;
      box-sizing: border-box;
      padding: 10px;
    }
  }
  </style>